* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #fff;
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* TODO: Reusable components */

img {
    width: 100%;
    height: auto;
    border-radius: 1%;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

b {
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

h2 {
    font-size: 200%;

    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.resources h2 {
    border-bottom: 2px solid #e1e1e1;
    font-size: 150%;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 10px;
}

h3 {
    font-size: 140%;
    font-weight: 400;
    margin-bottom: 10px;
    color: #555;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* TODO: Side-bar */

.side-bar a {
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: #2980b9;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 90%;
}

.side-bar a:hover {
    background-color: #0056b3;
}

/* TODO: Videos */

/* Youtube Videos */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 Aspect Ratio */
    padding-top: 30px;  /* YouTube header height */
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/*TODO: Main navigation */

.main-nav {
    float: left;
    list-style: none;
    margin-top: 40px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    color: #000;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}
.main-nav li a:active,
.main-nav li a:hover {
    border-bottom: 2px solid #2980b9;
}



/*TODO: Logo */

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 5px;
}




/*TODO: Footer */

footer {
    background-color: #000;
    color: #fff;
    font-size: 80%;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}



/*TODO: Login & Signup */

.auth-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}
.auth-nav li {
    display: inline-block;
    margin-right: 5px;
}
.auth-nav li a,
.auth-nav li a {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 90%;
    color: #fff;
    background-color: #2980b9;
    cursor: pointer;
}
.auth-nav li a:hover {
    background-color: #0056b3;
    transition: background-color 0.2s ease;
}



/*TODO: Normalise */

input[type="search"] {
    /*-webkit-appearance: textfield;*/
    box-sizing: content-box;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button, html, input[type="button"], input[type="reset"], input[type="submit"] {
    /*-webkit-appearance: button;*/
    cursor: pointer;
}

/* Grid */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}
/* Row */
.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}
/* Col */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
/* Span 2 */
.span-2-of-2 {
    width: 100%;
}
.span-1-of-2 {
    width: 49.2%;
}
/* Span 3 */
.span-3-of-3 {
    width: 100%;
}
.span-2-of-3 {
    width: 66.13%;
}
.span-1-of-3 {
    width: 32.26%;
}
/* Span 4 */
.span-4-of-4 {
    width: 100%;
}
.span-3-of-4 {
    width: 74.6%;
}
.span-2-of-4 {
    width: 49.2%;
}
.span-1-of-4 {
    width: 23.8%;
}


select#topicSelect {
    background-color: #2980b9;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='white'><polygon points='0,0 10,0 5,10'/></svg>") no-repeat 90% 50%, #2980b9; /* Adjusted Arrow Size */
}

select#topicSelect:focus {
    outline: none;
}

select#topicSelect:hover {
    background-color: #0056b3;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='white'><polygon points='0,0 10,0 5,10'/></svg>") no-repeat 90% 50%, #0056b3; /* Adjusted Arrow Size on Hover */
}

select#topicSelect option {
    color: #000;
}

.video-selection {
    margin-bottom: 15px;
}

.video-selection label {
    margin-right : 10px;
}

.videos .box {
    margin-bottom: 50px;
}

.site-content {
        flex: 1;
        cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}